/* Here is your custom css styles. */
@font-face{
    font-family: 'STFANGSO';
    src: url('../font/STFANGSO.TTF');
    /* font-family: 'GenJyuuGothic';
    src: url('../font/GenJyuuGothic-Normal-2.ttf');
    font-family: 'GenWanMinJP-Medium-3';
    src: url('../font/GenWanMinJP-Medium-3.ttf'); */
}

body{
    font-family: 'STFANGSO';
}